#root {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Source Sans 3', sans-serif;
  
}
.mainLayout{
  color: white;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 20px;
  grid-template-columns: [start] 362px [sidebar] 70px [main] 1fr [end];
  gap: 20px;
  grid-template-areas: 
  "sidebar . main";
}
.sidebar{
  grid-area:sidebar;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text{
  grid-area:main;
}
.addButton{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 8px;
  padding: 10px;
  text-align: center;
  font-family: Source Sans Pro;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
